.fetch-button {
  --btn-hover-color: #88c2ae;
  --btn-transition-time: 0.2s;
  --btn-size: 150px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--btn-size);
  height: var(--btn-size);

  border: solid 1px rgb(197, 197, 197);
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px rgb(197, 197, 197);
  transition: all var(--btn-transition-time);

  cursor: pointer;

  background-color: rgb(240, 248, 255);
}

/* Remove focus outline */
:focus {outline:none;}          /* Chrome */
::-moz-focus-inner {border:0;}  /* Firefox */

.fetch-button:hover, .fetch-button:focus {
  border-color: var(--btn-hover-color);
  box-shadow: 0px 0px 3px 3px var(--btn-hover-color);
}

.fetch-button:active {
  box-shadow: 0px 0px 1px 1px rgb(197, 197, 197);
}

.fetch-button span {
  font-size: 1.1rem;
  text-transform: uppercase;

  padding: 0.2em;

  color: rgb(41, 41, 41);
  transition: color var(--btn-transition-time);
}

.fetch-button:hover span, .fetch-button:focus span {
  color: var(--btn-hover-color);
}


/* Lock in hover style and hide text while fetching */
.fetching {
  border-color: var(--btn-hover-color);
  box-shadow: 0px 0px 3px 3px var(--btn-hover-color);
}

.fetch-button.fetching span {
  color: rgb(240, 248, 255);
}


/* Error button */
.error {
  border-color: rgb(247, 53, 19);
  box-shadow: 0px 0px 3px 3px rgb(247, 53, 19);
}

.error span {
  font-size: 0.95rem;
  color: rgb(247, 53, 19);
}