.fetch-button {
  /* Match btn-size and btn-hover-color with Spinner height/width/color */
  --btn-size: 150px;
  --btn-hover-color: #88c2ae;

  --btn-transition-time: 0.2s;
  --btn-bg-color: rgb(240, 248, 255);
  --btn-border-color: rgb(197, 197, 197);

  --btn-error-color: rgb(247, 53, 19);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--btn-size);
  height: var(--btn-size);

  border: solid 1px var(--btn-border-color);
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px var(--btn-border-color);
  transition: all var(--btn-transition-time);

  cursor: pointer;

  background-color: var(--btn-bg-color);
}

.fetch-button:hover, .fetch-button:focus {
  border-color: var(--btn-hover-color);
  box-shadow: 0px 0px 3px 3px var(--btn-hover-color);
  outline: none; /* Remove Chrome focus outline */
}

.fetch-button::-moz-focus-inner { /* Remove Firefox focus border */
  border: 0;
}

.fetch-button:active {
  box-shadow: 0px 0px 1px 1px rgb(197, 197, 197);
}

.fetch-button span {
  font-size: 1.1rem;
  text-transform: uppercase;

  padding: 0.2em;

  color: rgb(41, 41, 41);
  transition: color var(--btn-transition-time);
}

.fetch-button:hover span, .fetch-button:focus span {
  color: var(--btn-hover-color);
}


/* Lock in hover style and hide text while fetching */
.fetching {
  border-color: var(--btn-hover-color);
  box-shadow: 0px 0px 3px 3px var(--btn-hover-color);
}

.fetch-button.fetching span {
  color: var(--btn-bg-color);
}


/* Error button */
.error {
  border-color: var(--btn-error-color);
  box-shadow: 0px 0px 3px 3px var(--btn-error-color);
}

.error span {
  font-size: 0.95rem;
  color: var(--btn-error-color);
}