.phone-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;

  max-width: 1200px;
  padding: 1em;
  margin: 0 auto;

  border-radius: var(--border-radius);
}

@media screen and (max-width: 500px) {
  .phone-list {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .phone-list {
    grid-template-columns: repeat(3, 1fr);
  }
}