.phone-modal {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(214, 218, 221);
  background-color: rgba(240, 248, 255, 0.733);

  z-index: 1;
  overflow: auto;
}

.phone-modal figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-height: 100%;
  width: 70%;

  padding: 2em;
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
  text-align: center;

  overflow: auto;
}

.phone-modal figure > div {
  text-align: center;
}

.phone-modal img {
  width: 20vw;
  max-width: 250px;
  min-width: 150px;
}

.phone-modal figcaption > div:first-child {
  text-align: justify;
}

.phone-modal figcaption > div:last-child {
  display: flex;
  justify-content: space-around;
}